attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.9.3
blinker==1.4
Brotli==1.0.7
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.4
cliapp==1.0.9
click==8.0.3
cmdtest==0.1.1
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
Flask==2.0.2
future==0.18.2
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.7.5
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.10
incremental==16.10.1
itsdangerous==2.0.1
Jinja2==3.0.2
kaitaistruct==0.8
ldap3==2.6
line-bot-sdk==1.20.0
Markdown==3.1.1
MarkupSafe==2.0.1
mitmproxy==4.0.4
packaging==20.3
pafy==0.5.5
passlib==1.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.1
Pygments==2.3.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyperclip==1.7.0
pytz==2021.1
PyYAML==5.3.1
requests==2.26.0
rfc3986==1.5.0
rsa==4.7.2
ruamel.yaml==0.15.89
service-identity==18.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.1.0
soupsieve==2.2.1
tornado==5.1.1
Twisted==18.9.0
urllib3==1.26.6
urwid==2.0.1
Werkzeug==2.0.2
wikipedia==1.4.0
wsproto==0.15.0
youtube-dl==2021.6.6
zope.interface==5.4.0
